---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$spacing-unit:     10px;
$image-size:       50px;
$icon-size:        15px;

// Sizes
$on-palm:          768px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "styles",
  "highlight"
;

div.container {
  max-width: 70rem;
}

img.rounded_full {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px; 
  width: 99.25%;
}

img.rounded_half {
  border-radius: 15px; 
  width: 49.25%;
}

img.rounded_half_nointerp {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+    */
  border-radius: 15px; 
  width: 49.5%;
}

img.rounded_full_nointerp {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+    */
  border-radius: 15px; 
  width: 99.5%;
}

ul.pbox {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  list-style-type: none;
  font-family: "Times New Roman", Times, serif;
}

li.pitem {
  break-inside: avoid;
  line-height: 2em;
  width: 100%;
  height: 300px;
  background:#fff;
  text-align:center;
}

div.poverlay {
  position: relative;
  display: block-inline;
  top: 5%;
  left: 5%;
  width: 35%;
  opacity: 0.70;
  background-color: aliceblue; 
}

h2.pheading {
  margin-bottom: 0px;
}