---
layout: portfolio_nav
---

{% assign portfolio_items = site.portfolio | sort: 'date' | reverse %}

<ul class="pbox">
  {% for thing in portfolio_items %}
  <li class="pitem">
    <a href="{{ thing.url }}" style="color: black">
      <div style="background-color:black; background-image: url({{thing.thumb}}); background-size: 100%; height: 100%; background-repeat: no-repeat; background-position: center center;">
        <div class="poverlay">
          <h2 class="pheading">{{ thing.name }}</h2>
          {% if thing.startdate != "" %}
            {{ thing.startdate | date: "%B %Y - " }}
          {% endif %}
          {{ thing.date | date: "%B %Y" }}
        </div>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>

<!-- Hack the top level formatting to make this page wider... -->
<script>
  document.getElementsByClassName("container")[0].setAttribute("style", "max-width: 90rem;");
</script>
