---
import Head from '../components/Head.astro';
import GithubRibbon from '../components/GithubRibbon.astro';
import Footer from '../components/Footer.astro';
import '../styles/main.scss';
---
<!DOCTYPE html>
<html>
  <Head title="Portfolio" />

  <body class="standard">
    <GithubRibbon />

    <div class="container">
      <a href="/">&lt;&lt;Main Site</a>

      <slot />

      <a href="/">&lt;&lt;Main Site</a>

      <Footer />
    </div>

    <script src="https://npmcdn.com/prismjs@1.5.1/prism.js"></script>
  </body>
</html>
